[Unit]
Description=Monthly disk image timer

[Timer]
OnCalendar=*-*-28..31 04:00:00
Persistent=true
RandomizedDelaySec=1800

[Install]
WantedBy=timers.target
